{% load static i18n thumbnail %}<!DOCTYPE html>

<ul class="p-2">
  {% if notifications %}
    {% for notification in notifications %}
      <li class="clearfix">
        <span class="fa-stack fa-2x float-left">
          <i class="fa fa-circle-thin fa-stack-2x"></i>
          <i class="fa {{ notification.get_icon }} fa-stack-1x"></i>
        </span>
        <p>{{ notification|safe }}</p>
        <p><small>{{ notification.timestamp }}</small></p>
      </li>
    {% endfor %}
    <a type="button" class="btn btn-primary btn-sm float-right" href="{% url 'notifications:unread' %}">{% trans '查看所有' %}</a>
    <a type="button" class="btn btn-success btn-sm float-right" href="{% url 'notifications:mark_all_read' %}">{% trans '标为已读' %}</a>
  {% else %}
    <li class="text-center">{% trans '没有新消息' %}</li>
  {% endif %}
</ul>
