{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{% trans '投呗 - 用户登录' %}</title>

  <!-- Custom fonts for this template-->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">{% trans '欢迎回来！' %}</h1>
                  </div>
                  <form class="login" id="loginForm" method="POST" action="{% url 'account:login' %}">{% csrf_token %}
                    <input type="hidden" id="nextUrl" value="{% if request.GET.urlencode == '' %} {% url 'search:home' %} {% else %}{{ request.GET.urlencode }}{% endif %}"/>
                    <div id="div_id_login" class="form-group"> <label for="id_login" class=" requiredField">
                        {% trans '用户名' %}<span class="asteriskField">*</span> </label>
                      <div class=""> 
                        <input type="text" name="username" placeholder="{% trans '用户名' %}" autofocus="autofocus" maxlength="150"
                          class="textinput textInput form-control form-control-user" required id="username"> 
                        </div>
                    </div>
                    <div id="div_id_password" class="form-group"> <label for="id_password" class=" requiredField">
                        {% trans '密码' %}<span class="asteriskField">*</span> </label>
                      <div class=""> 
                        <input type="password" name="password" placeholder="{% trans '密码' %}" class="textinput textInput form-control form-control-user"
                          required id="password"> 
                      </div>
                    </div>
                    <!-- <div class="form-group">
                      <div id="div_id_remember" class="form-check"> <input type="checkbox" name="remember"
                          class="checkboxinput form-check-input" id="id_remember"> <label for="id_remember" class="form-check-label">
                          {% trans '记住我' %}
                        </label> </div>
                    </div> -->
                    
                    
                    <div class="form-group container-login100-form-btn">
                      <button type="submit" class="btn btn-primary btn-user btn-block" id="login">{% trans '登录' %}</button>
                    </div>

                    
                    <!-- <hr>
                    <a href="index.html" class="btn btn-google btn-user btn-block">
                      <i class="fab fa-google fa-fw"></i> Login with Google
                    </a>
                    <a href="index.html" class="btn btn-facebook btn-user btn-block">
                      <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
                    </a> -->
                  </form>
                  <hr>
                  <div class="text-center">
                    <a class="small" href="{% url 'account:reset_password' %}">{% trans '忘记密码？' %}</a>
                  </div>
                  <div class="text-center">
                    <a class="small" href="{% url 'account:signup' %}">{% trans '还没有账号？马上去注册！' %}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
  <script src="{% static 'vendor/jquery/jquery.min.js' %} "></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@beta/dist/js.cookie.min.js"></script>
  <script type="text/javascript">
    var currentUser = "{{ request.user.username }}";
    var csrftoken = Cookies.get('csrftoken');
    var authBaseEndpoint = '/account/'; 
    $(function () {
      var searchParams = new URLSearchParams($("#nextUrl").val())
      // alert(searchParams.get("next"));

      var authenticate = function(event){
        event.preventDefault();
        var form = $("#loginForm");
        var formData = new FormData(form[0]);
        $.ajax({
            url: authBaseEndpoint + 'authenticate/',
            enctype: 'multipart/form-data',
            headers: { 'X-CSRFToken': csrftoken },
            method: 'POST',
            processData: false,
            contentType: false,
            dataType: 'json',
            data: formData,
            success: function (data) {
                if(data.code=="ok"){
                  if(searchParams.has("next")){
                    window.location.href = searchParams.get("next");
                  }else{
                    window.location.href = $("#nextUrl").val();
                  }
                }else{
                  alert("用户名或密码错误，登录失败！");
                }
            },
            statusCode: {
                403: function () {
                    $("#messageText").html('<strong>403 forbidden</strong>.');
                },
                404: function () {
                    $("#messageText").html('<strong>404 page not found</strong>.');
                },
                500: function () {
                    $("#messageText").html('<strong>500 internal server error</strong>.');
                }
            }
        });
      }
      document.getElementById("login").addEventListener("click", authenticate, event);
    });
  </script>
</body>

</html>