{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% trans '爱滚 - 密码重置' %}</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-2">{% trans '忘记你的密码了？' %}</h1>
                                    <p class="mb-4">{% trans '没事，这经常发生。只要在下面输入您的邮箱地址，我们会帮你重置密码！' %}</p>
                                </div>
                                
                                <form class="user password_reset" action="{% url 'account_reset_password' %}">
                                    {% csrf_token %}
                                    <div class="form-group" id="div_id_email">
                                        <input type="email" name="email" size="30" class="textinput textInput form-control form-control-user"
                                            id="id_email" 
                                            placeholder="{% trans '请输入邮件地址...' %}">
                                    </div>
                                    <input class="btn btn-primary btn-user btn-block" type="submit" value="重置我的密码" />
                                </form>
                                <hr>
                                <div class="text-center">
                                    <a class="small" href="{% url 'account_signup' %}">{% trans '还没有账号？马上去注册！' %}</a>
                                </div>
                                <div class="text-center">
                                    <a class="small" href="{% url 'account_login' %}">{% trans '已经有账号？马上去登录！' %}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
</body>
</html>