{% extends 'base_public.html' %} {% load static i18n thumbnail %} 

{% block navbar %}
<!-- Navigation -->
<!-- <nav class="navbar static-top">
  <div class="container-fluid">
    <div class="col-lg-6 row align-items-center">
      <div class="col-lg-1">
        <a class="navbar-brand text-muted" href="{% url 'search:home' %}">
        <img src="{% static 'img/logo.jpg' %}" height="40" width="40" style="border-radius: 10%;" class="mr-1">      
        </a>
      </div>
      <div class="col-lg-11">
        <form id="searchForm" action="{% url 'search:home' %}">
          <input type="text" class="form-control form-control-sm" id="searchText" name="q" placeholder="{% trans '股票名称,代码或首字母' %}" value="{{search_single.ts_code}}">
        </form>
      </div>
    </div>
    <a class="btn btn-primary" href="#">{% trans '微信扫码登录' %}</a>
  </div>
</nav> -->
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand text-muted" href="{% url 'search:home' %}">
      <img src="{% static 'img/logo.jpg' %}" height="40" width="40" style="border-radius: 10%;">
      <span class="text-white">{% trans '投呗' %}</span>   
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'zixuan:home' %}">{% trans '自选股' %}</a>
        </li>
      </ul>
    </div>
    <div class="d-flex col-lg-4" id="searchForm" >
      <input type="text" class="form-control form-control-sm me-sm-2" id="searchText" autocomplete="off" name="q" placeholder="{% trans '股票名称, 代码或首字母' %}" value="{{search_single.ts_code}}">
    </div>
    {% if request.user.is_authenticated %}
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {% if request.user.picture %}
          <img src="/media/{{ request.user.picture }}" height="30" width="30" style="border-radius: 50%;" class="user-image">
          {% else %} 
          <img src="{% static 'img/user.png' %}" height="30" alt="{% trans '无个人头像' %}" />
          {% endif %}
          <span class="text-white">{{ request.user.name }}</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'user:get_profile' %}"><i class="fa fa-cogs fa-fw" aria-hidden="true"></i>&nbsp; {% trans '个人信息设置' %}</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{%url 'account:logout'%}" id="logout"><i class="fa fa-sign-out-alt fa-fw" aria-hidden="true"></i>&nbsp; {% trans '注销' %}</a>
        </div>
      </div>
    {% else %}
    <!-- <a class="btn btn-primary" href="#">{% trans '快速登录' %}</a> -->
    <div><a class="btn btn-light" href="{% url 'account:login' %}">{% trans '登录' %}</a></div>
    {% endif %}
  </div>
</nav>
{% endblock navbar %}

{% block content %}
<!-- <hr style="margin-top: 0rem; margin-bottom: 0.5rem" /> -->
<div class="container-fluid mt-4 small">
  <div class="row">
    <div class="col-lg-12 error-msg">{{search_single.err_message}}</div>
  </div>
  <div class="row dashboard {{search_single.d_none}}">
    <div class="col-lg-8 ">
      <div><h6 class="m-0 font-weight-bold text-primary">行业基本面统计(最新)</h6></div>
      <hr/>
      <div class="d-flex flex-row align-items-center justify-content-between mt-2">
        <div class="industry">
          <span class="text-muted" >{%trans '行业市盈: '%}</span>
          <span><i class="fa fa-circle text-success small" aria-hidden="true" id="iqt.1pe"></i> </span>
          <span><i class="fa fa-circle text-warning small" aria-hidden="true" id="iqt.5pe"></i> </span>
          <span><i class="fa fa-circle text-danger small" aria-hidden="true" id="iqt.9pe"></i> </span>
        </div>
        <div class="industry ml-1">
          <span class="text-muted" >{%trans '行业市净: '%}</span>
          <span><i class="fa fa-circle text-success small" aria-hidden="true" id="iqt.1pb"></i> </span>
          <span><i class="fa fa-circle text-warning small" aria-hidden="true" id="iqt.5pb"></i> </span>
          <span><i class="fa fa-circle text-danger small" aria-hidden="true" id="iqt.9pb"></i> </span>
        </div>
        <div class="industry ml-1">
          <span class="text-muted" >{%trans '行业市销: '%}</span>
          <span><i class="fa fa-circle text-success small" aria-hidden="true" id="iqt.1ps"></i> </span>
          <span><i class="fa fa-circle text-warning small" aria-hidden="true" id="iqt.5ps"></i> </span>
          <span><i class="fa fa-circle text-danger small" aria-hidden="true" id="iqt.9ps"></i> </span>
        </div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-lg-12 d-flex flex-row justify-content-between">
          <div><h6 class="m-0 font-weight-bold text-primary">行业基本面指标</h6></div>
          
          <div class="btn-group btn-group-sm btn-group-toggle small" data-toggle="buttons">
              <label class="btn btn-light active">
                  <input type="radio" name="period" autocomplete="off" value="1" checked>{% trans '1年' %} 
              </label>
              <label class="btn btn-light">
                  <input type="radio" name="period" autocomplete="off" value="3">{% trans '3年' %} 
              </label>
              <label class="btn btn-light">
                  <input type="radio" name="period" autocomplete="off" value="5">{% trans '5年' %} 
              </label>
              <label class="btn btn-light">
                  <input type="radio" name="period" autocomplete="off" value="10">{% trans '10年' %} 
              </label>
              <label class="btn btn-light">
                  <input type="radio" name="period" autocomplete="off" value="0">{% trans '全部' %} 
              </label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <div class="card mt-4 mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">市盈率 - <span class="stock_name">{{industry.ind}}</span></h6>
                <div class="btn-group btn-group-sm btn-group-toggle small" data-toggle="buttons">
                    <label class="btn btn-light ">
                        <input type="radio" name="quantilePe" autocomplete="off" value="0.9" >{% trans '高位' %} 
                    </label>
                    <label class="btn btn-light active">
                        <input type="radio" name="quantilePe" autocomplete="off" value="0.5" checked>{% trans '中位' %} 
                    </label>
                    <label class="btn btn-light">
                        <input type="radio" name="quantilePe" autocomplete="off" value="0.1">{% trans '低位' %} 
                    </label>
                </div>
            </div>
            <div class="card-body">
              <div class="col-lg-12">
                  <div id="peChart" style="height: 400px" class="basic-chart" name="pe"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-lg-12">
            <div class="card mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">市净率 - <span class="stock_name">{{industry.ind}}</span></h6>
                <div class="btn-group btn-group-sm btn-group-toggle small" data-toggle="buttons">
                    <label class="btn btn-light ">
                        <input type="radio" name="quantilePb" autocomplete="off" value="0.9" >{% trans '高位' %} 
                    </label>
                    <label class="btn btn-light active">
                        <input type="radio" name="quantilePb" autocomplete="off" value="0.5" checked>{% trans '中位' %} 
                    </label>
                    <label class="btn btn-light">
                        <input type="radio" name="quantilePb" autocomplete="off" value="0.1">{% trans '低位' %} 
                    </label>
                </div>
            </div>
            <div class="card-body">
              <div id="pbChart" style="height: 400px"  class="basic-chart" name="pb"></div>
            </div>
            </div>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-12">
            <div class="card mb-4">
              <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">市销率 - <span class="stock_name">{{industry.ind}}</span></h6>
                  <div class="btn-group btn-group-sm btn-group-toggle small" data-toggle="buttons">
                      <div class="btn-group btn-group-sm btn-group-toggle small" data-toggle="buttons">
                      <label class="btn btn-light ">
                          <input type="radio" name="quantilePs" autocomplete="off" value="0.9" >{% trans '高位' %} 
                      </label>
                      <label class="btn btn-light active">
                          <input type="radio" name="quantilePs" autocomplete="off" value="0.5" checked>{% trans '中位' %} 
                      </label>
                      <label class="btn btn-light">
                          <input type="radio" name="quantilePs" autocomplete="off" value="0.1">{% trans '低位' %} 
                      </label>
                  </div>
                  </div>
              </div>
              <div class="card-body">
                <div id="psChart" style="height: 400px"  class="basic-chart" name="ps"></div>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="col-lg-4">
        <div class="row">
            <div class="col-lg-12 justify-content-between">
                <span class="font-weight-bold">{% trans '基本信息' %}</span><button class="btn btn-sm btn-primary float-right d-none" href="#follow" id="followStock">{% if search_single.selected %}{% trans '-' %}{% else %}{% trans '+' %}{%endif%}</button>
          </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
            <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="row col-lg-12">
                    <div class="row col-lg-6">
                        <span class="font-weight-bold mr-1" id="industry">{% trans '行业名称' %}</span>
                        {{industry.ind}}
                    </div>
                    <div class="row col-lg-6">
                        <span class="font-weight-bold mr-1" id="stockQty">{% trans '股票数量' %}</span>
                        {{industry.stk}} ({{industry.stk_sel}}{%trans '自选'%})
                    </div>
                </div>
          </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
            <hr />
            </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="card mb-4">
              <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">股票数量趋势 - <span class="stock_name">{{industry.ind}}</span></h6>
                  
                  
              </div>
              <div class="card-body">
                <div id="stockQtyChart" style="height: 250px"  class="basic-chart" name="stockQty"></div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<input type="hidden" id="curInd" value="{{industry.ind}}" />

{% endblock content %} 

{% block javascript %} {{ block.super }}
<script type="text/javascript" charset="utf-8">
  var imgRoot = "{% static 'img/' %}";
</script>
<!-- <script src="{% static 'js/common.js' %}"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/9.5.0/math.min.js"></script>
<script
  src="{% static 'js/industry.js' %}"
  type="text/javascript"
></script>
{% endblock javascript %}
