{% extends 'base_public.html' %}
{% load static i18n %}
{% load crispy_forms_tags thumbnail humanize %}

{% block title %}
{% trans '投呗 - 首页' %}
{% endblock %}

{% block head %}
{% endblock %}

{% block navbar %}
<!-- Navigation -->
<!-- <nav class="navbar static-top">
  <div class="container-fluid">
    <div class="col-lg-6 row align-items-center">
      <div class="col-lg-1">
        <a class="navbar-brand text-muted" href="{% url 'search:home' %}">
        <img src="{% static 'img/logo.jpg' %}" height="40" width="40" style="border-radius: 10%;" class="mr-1">      
        </a>
      </div>
      <div class="col-lg-11">
        <form id="searchForm" action="{% url 'search:home' %}">
          <input type="text" class="form-control form-control-sm" id="searchText" name="q" placeholder="{% trans '股票名称,代码或首字母' %}" value="{{search_single.ts_code}}">
        </form>
      </div>
    </div>
    <a class="btn btn-primary" href="#">{% trans '微信扫码登录' %}</a>
  </div>
</nav> -->
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand text-muted" href="{% url 'search:home' %}">
    <img src="{% static 'img/logo.jpg' %}" height="40" width="40" style="border-radius: 10%;">
    <span>{% trans '投呗' %}</span>   
  </a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <!-- <li class="nav-item">
        <a class="nav-link" href="{% url 'hongguan:home' %}">{% trans '宏观数据' %}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'paiming:home' %}">{% trans '历史表现排名' %}</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" href="{% url 'xuangu:home' %}">{% trans '策略选股结果' %}</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'zixuan:home' %}">{% trans '我的自选股' %}</a>
      </li>
    
    {% if request.user.is_authenticated %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {% if request.user.picture %}
          <img src="/media/{{ request.user.picture }}" height="30" width="30" style="border-radius: 50%;" class="user-image">
          {% else %} 
          <img src="{% static 'img/user.png' %}" height="30" alt="{% trans '无个人头像' %}" />
          {% endif %}
          {{ request.user.name }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'user:get_profile' %}"><i class="fa fa-cogs fa-fw" aria-hidden="true"></i>&nbsp; {% trans '个人信息设置' %}</a>
          <a class="dropdown-item" href="{% url 'trade_account:index' %}"><i class="fa fa-piggy-bank fa-fw" aria-hidden="true"></i>&nbsp; {% trans '交易账户管理' %}</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{%url 'account:logout'%}" id="logout"><i class="fa fa-sign-out-alt fa-fw" aria-hidden="true"></i>&nbsp; {% trans '注销' %}</a>
        </div>
      </li>
    {% else %}
    <!-- <a class="btn btn-primary" href="#">{% trans '快速登录' %}</a> -->
    <a class="btn btn-primary" href="#">{% trans '快速登录' %}</a>
    {% endif %}
    </ul>
  </div>
</nav>
{% endblock navbar %}

{% block content %}

<!-- /.container -->
<header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form id="searchForm" action="{% url 'search:home' %}">
            <div class="form-row">
              <div class="col-12 col-md-12 mb-2 mb-md-0">
                <input type="text" autocomplete="off" class="form-control form-control-lg" id="searchText" name="q" placeholder="{% trans '请输入股票名称,代码或首字母' %}">
              </div>
              <!-- <div class="col-12 col-md-3">
                <button type="submit" class="btn btn-block btn-lg btn-primary">{% trans '查看' %}</button>
              </div> -->
            </div>
          </form>
        </div>
      </div>
      <div class="row">
            <div class="col-lg-12 grid-margin stretch-card mt-3">
                <hr>
                <div class="row flex-grow small">
                  {% if zixuan %}
                    {% for ind,stk in zixuan.items %}
                    
                    <div class="mt-3 col-md-4 stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex align-items-center justify-content-between flex-wrap">
                                    <div class="card-title"><a class="text-muted" href="?q={{ind}}"><h6>{{ind}}</h6></a></div>
                                    <p class="font-weight-medium small">
                                        <!-- <span class="text-muted mr-1"></span> -->
                                        <span class="badge badge-pill badge-primary">{{stk.items|length}}</span>
                                        <!-- <span id="shChange" class="ml-1"></span> -->
                                    </p>
                                </div>
                                <!-- <hr class="row"/> -->
                                <div class="container small mt-2">
                                    <!-- <div class="d-flex align-items-left justify-content-between flex-wrap row">
                                        <span class="text-muted">{% trans '股票代码(EXG)' %}</span>
                                        <span class="text-muted">{% trans '股票名称' %}</span>
                                        <span class="text-muted">{% trans '价格' %}</span>
                                        <span class="text-muted">{% trans '%' %}</span>
                                    </div> -->
                                    <!-- <hr/> -->
                                    {% for k,v in stk.items %}
                                    <div class="d-flex align-items-left justify-content-between flex-wrap row">
                                        <span class="text-muted" id=""><a href="/?q={{k}}">{{k}}</a></span>
                                        <span class="text-muted" id=""><a href="/?q={{k}}">{{v}}</a></span>
                                        <span class="text-muted" id="p{{k}}">-</span>
                                        <span class="text-muted" id="pct{{k}}">-</span>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    {% endfor %}
                  {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>
<!-- 新股IPO -->
<!-- df = pro.new_share(start_date='20180901', end_date='20181018') -->

<!-- content-wrapper ends -->
{% endblock content %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript" charset="utf-8">var imgRoot = "{% static 'img/' %}"</script>
<script src="{% static 'js/zixuan.js' %}" type="text/javascript"></script>
{% endblock javascript %}