{% extends 'base.html' %}
{% load static i18n %}

{% block content %}
  <div class="container-scroller mb-4">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center text-center error-page bg-primary">
        <div class="row flex-grow">
          <div class="col-lg-12 mx-auto text-white">
            <div class="row align-items-center d-flex flex-row">
              <div class="col-lg-12 pr-lg-4">
                <h1 class="display-1 mb-0">404</h1>
              </div>
              <div class="col-lg-12 error-page-divider pl-lg-4">
                <h2>{% trans '对不起' %}!</h2>
                <h3 class="font-weight-light">{% trans '您访问的页面不存在' %}</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
{% endblock content %}
