{% load static i18n %}
<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>404 - {% trans '投呗' %}</title>

<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="{% static 'css/page.css' %}" />

</head>
<body>
<div id="notfound">
  <div class="notfound">
    <div class="notfound-404">
      <h1>Oops!</h1>
    </div>
    <h2>404 - {% trans '页面不存在' %}</h2>
    <p>{% trans '您访问的页面不存在，或暂时无法访问。' %}</p>
    <a href="/">{% trans '返回首页' %}</a>
  </div>
</div>
</body>

</html>
