{% extends 'base.html' %} {% load static i18n %} {% load crispy_forms_tags
thumbnail humanize %} {% block title %}{% endblock %} {% block head %} {%
endblock %} {% block content %}
<div id="container" style="height: 500px"></div>
{% endblock content %} {% block javascript %} {{ block.super }}
<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/echarts@4/dist/echarts.min.js"
></script>
<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/echarts-gl@1/dist/echarts-gl.min.js"
></script>
<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/echarts-stat@1/dist/ecStat.min.js"
></script>
<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/echarts@4/dist/extension/dataTool.min.js"
></script>
<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/echarts@4/map/js/china.js"
></script>
<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/echarts@4/map/js/world.js"
></script>
<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/echarts@4/dist/extension/bmap.min.js"
></script>
<script type="text/javascript">
  var dom = document.getElementById("container");
  var myChart = echarts.init(dom);
  var app = {};
  option = null;

  $.ajax({
    url: investorEndpoint + "follow-stock/" + symbol + "/",
    data: {
      name: name,
    },
    method: "GET",
    success: function (data) {
      $("#messages").removeClass("d-none");
      if (data.code == "ok") {
        $("#messages").addClass("alert-success");
      } else {
        $("#messages").addClass("alert-danger");
      }
      $("#messageText").html("<strong>" + data.message + "</strong>");
    },
    statusCode: {
      403: function () {
        alert("403 forbidden");
      },
      404: function () {
        alert("404 page not found");
      },
      500: function () {
        alert("500 internal server error");
      },
    },
  });
  option = {
    tooltip: {
      trigger: "axis",
      axisPointer: {
        type: "cross",
        crossStyle: {
          color: "#999",
        },
      },
    },
    toolbox: {
      feature: {
        dataView: { show: true, readOnly: false },
        magicType: { show: true, type: ["line", "bar"] },
        restore: { show: true },
        saveAsImage: { show: true },
      },
    },
    legend: {
      data: ["蒸发量", "降水量", "平均温度"],
    },
    xAxis: [
      {
        type: "category",
        data: [
          "1月",
          "2月",
          "3月",
          "4月",
          "5月",
          "6月",
          "7月",
          "8月",
          "9月",
          "10月",
          "11月",
          "12月",
        ],
        axisPointer: {
          type: "shadow",
        },
      },
    ],
    yAxis: [
      {
        type: "value",
        name: "水量",
        min: 0,
        max: 250,
        interval: 50,
        axisLabel: {
          formatter: "{value} ml",
        },
      },
      {
        type: "value",
        name: "温度",
        min: 0,
        max: 25,
        interval: 5,
        axisLabel: {
          formatter: "{value} °C",
        },
      },
    ],
    series: [
      {
        name: "蒸发量",
        type: "bar",
        data: [
          2.0,
          4.9,
          7.0,
          23.2,
          25.6,
          76.7,
          135.6,
          162.2,
          32.6,
          20.0,
          6.4,
          3.3,
        ],
      },
      {
        name: "降水量",
        type: "bar",
        data: [
          2.6,
          5.9,
          9.0,
          26.4,
          28.7,
          70.7,
          175.6,
          182.2,
          48.7,
          18.8,
          6.0,
          2.3,
        ],
      },
      {
        name: "平均温度",
        type: "line",
        yAxisIndex: 1,
        data: [
          2.0,
          2.2,
          3.3,
          4.5,
          6.3,
          10.2,
          20.3,
          23.4,
          23.0,
          16.5,
          12.0,
          6.2,
        ],
      },
    ],
  };
  if (option && typeof option === "object") {
    myChart.setOption(option, true);
  }
</script>
{% endblock javascript %}
