{% extends 'base_public.html' %}
{% load static i18n %}
{% load crispy_forms_tags thumbnail humanize %}

{% block title %}
{% trans '投呗 - 自选股' %}
{% endblock %}

{% block head %}
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand text-muted" href="{% url 'search:home' %}">
      <img src="{% static 'img/logo.jpg' %}" height="40" width="40" style="border-radius: 10%;">
      <span class="text-white">{% trans '投呗' %}</span>   
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'zixuan:home' %}">{% trans '自选股' %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'investors:xuangu' %}">{% trans '条件选股' %}</a>
        </li>
      </ul>
  </div>
    <form class="col-lg-4" id="searchForm" action="{%url 'search:home'%}">
      <input type="text" class="form-control form-control-sm small" id="searchText" autocomplete="off" name="q" placeholder="{% trans '股票名称, 代码或首字母' %}" value="{{search_single.ts_code}}">
    </form>
    {% if request.user.is_authenticated %}
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {% if request.user.picture %}
          <img src="/media/{{ request.user.picture }}" height="30" width="30" style="border-radius: 50%;" class="user-image">
          {% else %} 
          <img src="{% static 'img/user.png' %}" height="30" alt="{% trans '无个人头像' %}" />
          {% endif %}
          <span class="text-white">{{ request.user.name }}</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'user:get_profile' %}"><i class="fa fa-cogs fa-fw" aria-hidden="true"></i>&nbsp; {% trans '个人信息设置' %}</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{%url 'account:logout'%}" id="logout"><i class="fa fa-sign-out-alt fa-fw" aria-hidden="true"></i>&nbsp; {% trans '注销' %}</a>
        </div>
      </div>
    {% else %}
    <!-- <a class="btn btn-primary" href="#">{% trans '快速登录' %}</a> -->
    <div><a class="btn btn-light" href="{% url 'account:login' %}">{% trans '登录' %}</a></div>
    {% endif %}
    </div>
</nav>
{% endblock navbar %}

{% block content %}

<!-- /.container -->
<header class="masthead mt-1">
    <div class="overlay"></div>
    <div class="container">
      <div class="row text-center ">
        <div class="col-lg-12">
          <!-- <span class="text-muted">{% trans '沪深A股共有' %}{{cnt_stk}}{% trans '只股票，' %}{{cnt_ind}}{% trans '个行业。'%}</span>
          {% if not request.user.is_authenticated %}<a href="{%url 'account:login' %}">{% trans '请登录' %}</a>{%endif%} -->
          <div class="container small col-lg-12 industry">
            <span class="text-muted" id="headIndustry"></span>
            <span class="text-muted" >{%trans '行业市盈率: '%}</span>
            <span><i class="fa fa-circle text-success small" aria-hidden="true" id="iqt.1pe"> - </i> </span>
            <span><i class="fa fa-circle text-warning small" aria-hidden="true" id="iqt.5pe"> - </i> </span>
            <span><i class="fa fa-circle text-danger small" aria-hidden="true" id="iqt.9pe"> - </i> </span>

            <span class="text-muted ml-2" >{%trans '行业市净: '%}</span>
            <span><i class="fa fa-circle text-success small" aria-hidden="true" id="iqt.1pb"> - </i> </span>
            <span><i class="fa fa-circle text-warning small" aria-hidden="true" id="iqt.5pb"> - </i> </span>
            <span><i class="fa fa-circle text-danger small" aria-hidden="true" id="iqt.9pb"> - </i> </span>

            <span class="text-muted ml-2" >{%trans '行业市销: '%}</span>
            <span><i class="fa fa-circle text-success small" aria-hidden="true" id="iqt.1ps"> - </i> </span>
            <span><i class="fa fa-circle text-warning small" aria-hidden="true" id="iqt.5ps"> - </i> </span>
            <span><i class="fa fa-circle text-danger small" aria-hidden="true" id="iqt.9ps"> - </i> </span>
          </div>
        </div>
        
        <input type="hidden" id="myIndustries" value="{{industries}}"/>
      </div>
      <hr class="row">
      
      <div class="row">
        <div class="col-lg-4">
          <div class="row">
            <div class="col-lg-12 mt-1">
                <div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
                    <!-- <span class="mt-1 mr-1 small">{% trans '板块' %}</span> -->
                    <label class="btn btn-light active">
                        <input type="radio" name="board" autocomplete="off" value="all" checked/><span class="text-warning">{% trans '全部' %}</span>
                    </label>
                    <label class="btn btn-light">
                        <input type="radio" name="board" autocomplete="off" value="60"/>{% trans '沪主板' %}
                    </label>
                    <label class="btn btn-light">
                        <input type="radio" name="board" autocomplete="off" value="0"/>{% trans '深主板' %}
                    </label>
                    <label class="btn btn-light">
                        <input type="radio" name="board" autocomplete="off" value="3" />{% trans '创业' %}
                    </label>
                    <label class="btn btn-light">
                        <input type="radio" name="board" autocomplete="off" value="688"/>{% trans '科创' %}
                    </label>
                </div>
            </div>
            <div class="col-lg-12 mt-1">
                <div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
                    <!-- <span class="mt-1 mr-1 small">{% trans '板块' %}</span> -->
                    <label class="btn btn-light active">
                        <input type="radio" name="area" autocomplete="off" value="0" checked/><span class="text-warning">{% trans '全部' %}</span>
                    </label>
                    {% for p in xuangu.provinces %}
                    <label class="btn btn-light">
                        <input type="radio" name="area" autocomplete="off" value="{{p.name}}"/>{{p.name}}
                    </label>
                    {% endfor %}
                    <!-- <label class="btn btn-light">
                        <input type="radio" name="area" autocomplete="off" value="shMainBoard"/>{% trans '上海' %}
                    </label> -->
                    <label class="btn btn-light">
                        <input type="radio" name="area" autocomplete="off" value="more"/>{% trans '更多' %}
                    </label>
                </div>
            </div>
            <div class="col-lg-12 mt-1 d-none" id="cityFilter">
                
            </div>
            <div class="col-lg-12 mt-1 basic-filter-toggler">
                <div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
                    <!-- <span class="mt-1 mr-1 small">{% trans '板块' %}</span> -->
                    <label class="btn btn-light active">
                        <input type="radio" name="industry" autocomplete="off" value="0" checked/><span class="text-warning">{% trans '全部' %}</span>
                    </label>
                    {% for i in xuangu.industries %}
                    <label class="btn btn-light">
                        <input type="radio" name="industry" autocomplete="off" value="{{i.industry}}"/>{{i.industry}}
                    </label>
                    {% endfor %}
                    <!-- <label class="btn btn-light active">
                        <input type="radio" name="industry" autocomplete="off" value="szMainBoard" checked/>{% trans '电气' %}
                    </label>
                    <label class="btn btn-light">
                        <input type="radio" name="industry" autocomplete="off" value="szGEM" />{% trans '通信' %}
                    </label> -->
                    <label class="btn btn-light" id="moreIndustry">
                        <input type="radio" autocomplete="off" value="more"/>{% trans '更多' %}
                    </label>
                </div>
            </div>
            <div class="col-lg-12 mt-1 small d-none" id="ind-filter-ext">
                {% for i in xuangu.ind_more %}
                  <span class="industry-more badge mt-1">{{i.industry}}</span>
                {% endfor %}
            </div>
            <div class="mt-1" id="basicFilter">
              <div class="col-lg-12">
                  <div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
                      <!-- <span class="mt-1 mr-1 small">{% trans '板块' %}</span> -->
                      <label class="btn btn-light active">
                          <input type="radio" name="pe" autocomplete="off" value="0" checked/><span class="text-warning">{% trans '全部' %}</span>
                      </label>
                      <label class="btn btn-light">
                          <input type="radio" name="pe" autocomplete="off" value="3"/>{% trans 'PE高' %}
                      </label>
                      <label class="btn btn-light">
                          <input type="radio" name="pe" autocomplete="off" value="2"/>{% trans 'PE中' %}
                      </label>
                      <label class="btn btn-light">
                          <input type="radio" name="pe" autocomplete="off" value="1"/>{% trans 'PE低' %}
                      </label>
                      <label class="btn btn-light">
                          <input type="radio" name="pe" autocomplete="off" value="-1"/>{% trans 'PE亏' %}
                      </label>
                  </div>
              </div>
              <div class="col-lg-12 mt-1">
                  <div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
                      <!-- <span class="mt-1 mr-1 small">{% trans '板块' %}</span> -->
                      <label class="btn btn-light active">
                          <input type="radio" name="pb" autocomplete="off" value="0" checked/><span class="text-warning">{% trans '全部' %}</span>
                      </label>
                      <label class="btn btn-light">
                          <input type="radio" name="pb" autocomplete="off" value="3"/>{% trans 'PB高' %}
                      </label>
                      <label class="btn btn-light">
                          <input type="radio" name="pb" autocomplete="off" value="2"/>{% trans 'PB中' %}
                      </label>
                      <label class="btn btn-light ">
                          <input type="radio" name="pb" autocomplete="off" value="1" checked/>{% trans 'PB低' %}
                      </label>
                  </div>
              </div>
              <div class="col-lg-12 mt-1">
                  <div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
                      <!-- <span class="mt-1 mr-1 small">{% trans '板块' %}</span> -->
                      <label class="btn btn-light active">
                          <input type="radio" name="ps" autocomplete="off" value="0" checked/><span class="text-warning">{% trans '全部' %}</span>
                      </label>
                      <label class="btn btn-light">
                          <input type="radio" name="ps" autocomplete="off" value="3"/>{% trans 'PS高' %}
                      </label>
                      <label class="btn btn-light">
                          <input type="radio" name="ps" autocomplete="off" value="2"/>{% trans 'PS中' %}
                      </label>
                      <label class="btn btn-light ">
                          <input type="radio" name="ps" autocomplete="off" value="1"/>{% trans 'PS低' %}
                      </label>
                  </div>
              </div>
            </div>
            <div class="col-lg-12 mt-1">
                <div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
                    <!-- <span class="mt-1 mr-1 small">{% trans '板块' %}</span> -->
                    <label class="btn btn-light active">
                        <input type="radio" name="top10_holder" autocomplete="off" value="0" checked/><span class="text-warning">{% trans '全部' %}</span>
                    </label>
                    <label class="btn btn-light">
                        <input type="radio" name="top10_holder" autocomplete="off" value="10"/>{% trans '持仓>10%' %}
                    </label>
                    <label class="btn btn-light">
                        <input type="radio" name="top10_holder" autocomplete="off" value="25"/>{% trans '>25%' %}
                    </label>
                    <label class="btn btn-light">
                        <input type="radio" name="top10_holder" autocomplete="off" value="50" />{% trans '>50%' %}
                    </label>
                    <label class="btn btn-light">
                        <input type="radio" name="top10_holder" autocomplete="off" value="75"/>{% trans '>75%' %}
                    </label>
                </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="row">
            {% if request.user.is_authenticated %}
            <div class=" text-center  col-lg-12" id="spinner">
              <i class="fa fa-spinner fa-pulse fa-1x fa-fw"></i>
              <span class="small">{% trans '查询结果加载中...' %}</span>
            </div>
            <div class=" text-center col-lg-12" id="spinner">
              <!-- <i class="fa fa-spinner fa-pulse fa-1x fa-fw"></i> -->
              <span class="small" id="message"></span>
            </div>
            {% endif %}
          </div>
          
          <div class="row col-lg-12">
            <table class="table table-sm table-borderless mt-2">

              <tbody class="small" id="resultTbody">
                <!-- <tr>
                  <td id="cd{{k}}"><a href="/?q={{k}}" class="text-primary" target="_blank">{{k}}000001.SZ</a></td>
                  <td id="nm{{k}}"><a href="/?q={{k}}" class="text-primary" target="_blank">{{v}}平安银行</a></td>
                  <td class="text-muted" id="pe{{k}}">-银行</td>
                  
                  <td class="text-muted" id="p{{k}}"><span>-12.2</span></td>
                  <td class="text-muted" id="pct{{k}}"><span>-5%</span></td>
                  <td class="text-muted" id="pe{{k}}"><span>-PE(3)</span></td>
                  <td class="text-muted" id="pe{{k}}"><span>-PE动(3)</span></td>
                  <td class="text-muted" id="pb{{k}}"><span>-PB(3)</span></td>
                  <td class="text-muted" id="ps{{k}}"><span>-PS(3)</span></td>
                  <td class="text-muted" id="ps{{k}}"><span>-市值(147亿)</span></td>

                  <td class="dropdown">
                    <a href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                      <i class="fa fa-circle text-muted small" aria-hidden="true" id="tl{{k}}"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item small" href="javascript:void(0)" id="tlmsg{{k}}">{%trans '无消息'%}</a>
                    </div>
                  </td>
                </tr> -->
              </tbody>
              
            </table>
          </div>
          <div class="row col-lg-12">
            <div class="ml-auto">
              <nav aria-label="Page navigation">
                  <ul class="pagination">
                      <li class="page-item small"><a class="page-link" href="javascript:void(0)">{% trans '<< 前25条' %}</a></li>
                      <li class="page-item small"><a class="page-link" href="javascript:void(0">{% trans '后25条 >>' %}</a></li>
                  </ul>
              </nav>
            </div>
          </div>  
        </div>
      </div>
    </div>
</header>
<style>
  .badge:hover { cursor: pointer; background-color: #dae0e5}
  .badge { background-color: #f8f9fa}
</style>
<!-- 新股IPO -->
<!-- df = pro.new_share(start_date='20180901', end_date='20181018') -->

<!-- content-wrapper ends -->
{% endblock content %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript" charset="utf-8">var imgRoot = "{% static 'img/' %}"</script>
<script src="https://pagecdn.io/lib/mathjs/10.4.0/math.min.js"></script>
<script src="{% static 'js/xuangu.js' %}" type="text/javascript"></script>
{% endblock javascript %}