{% extends 'siteadmin_base.html' %}
{% load static i18n %}
{% load crispy_forms_tags thumbnail humanize %}

{% block title %}{% endblock %}

{% block head %}
{% endblock %}

{% block sidebar %}
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">{% trans '爱投-管理后台' %}</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="index.html">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>{% trans '仪表盘' %}</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        {% trans '网站设置' %}
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="/siteadmin/settings" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
            aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>{% trans '网站设置' %}</span>
        </a>
        <!-- <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Custom Components:</h6>
                <a class="collapse-item" href="buttons.html">{% trans '基本设置' %}</a>
                <a class="collapse-item" href="cards.html">{% trans '扩展设置' %}</a>
            </div>
        </div> -->
    </li>
    <!-- Heading -->
    <div class="sidebar-heading ">
        {% trans '查询分析' %}
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item active">
        <a class="nav-link collapsed" href="/siteadmin/query-analyzer/" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
            aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>{% trans '查询分析' %}</span>
        </a>
    </li>
</ul>
{% endblock sidebar %}

{% block content %}
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">{% trans '查询分析器 - 交易记录' %}</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> {% trans '生成报表' %}</a>
    </div>

    <!-- Content Row -->
    <div class="my-3 p-3 bg-white rounded box-shadow">
        <h6 class="border-bottom border-gray pb-2 mb-0">{% trans '查询' %}</h6>
        <div class="media text-muted pt-3">
            <!-- Search -->
            <form class="d-none d-sm-inline-block form-inline mr-auto my-2 my-md-0 mw-100 navbar-search">
                <div class="input-group">
                    <input type="text"  id="searchForTrade" class="form-control form-control-sm" placeholder="{% trans '输入股票名称或代码'%}" aria-label="search" aria-describedby="search">
                    
                    <div class="input-group-append">
                        <button class="btn btn-sm btn-secondary" type="button">
                            <i class="fas fa-search fa-sm"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="my-3 p-3 bg-white rounded box-shadow">
        <h6 class="border-bottom border-gray pb-2 mb-0">{% trans '所有交易记录' %}</h6>
        <div class="media text-muted pt-3">
            <!-- Trade Records -->
            <div class="col-md-12 grid-margin stretch-card">
                <div>
                    <div class="">
                        <p class=""><i class="fa fa-chart-line" ></i> {% trans '持仓' %}</p>
                        {% if site_admin %}
                        {% for p in site_admin.positions %}
                        <div class="card-title mb-4 mt-4 small">
                            <div class="">
                                <div class='d-flex align-items-center justify-content-between flex-wrap'>
                                    <div class="">
                                        <h7 class="card-title">{{ p.stock_name }}</h7>
                                        <h7 class="card-subtitle mb-2 text-muted">{{ p.stock_code }}</h7>
                                    </div>
                                    
                                    <div class="">
                                        <div class="">
                                        {% if p.profit < 0 %}
                                        <td><span class="badge badge-pill badge-success mr-1">{{ p.profit_ratio }}</span><span class="badge badge-pill badge-success">{{ p.profit }}</span></td>
                                        {% else %}
                                        <td><span class="badge badge-pill badge-danger mr-1">+{{ p.profit_ratio }}</span><span class="badge badge-pill badge-danger">+{{ p.profit }}</span></td>
                                        {% endif %}
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="d-flex align-items-center justify-content-between flex-wrap">
                                    <div class="text-muted"> 
                                        <div>{% trans '现价' %}</div>
                                        <div>{{ p.current_price }}</div>
                                    </div>
                                    <div class="text-muted"> 
                                        <div>{% trans '成本' %}</div>
                                        <div>{{ p.position_price }}</div>
                                    </div>
                                    <div class="text-muted">  
                                        <div>{% trans '持仓' %}{% trans ' (目标仓位)' %}</div>
                                        <div><span class="mr-1">{{ p.lots }}</span><span>({{ p.target_position }})</span></div>
                                    </div>
                                    <div class="text-muted">  
                                        <div>{% trans '市值' %}</div>
                                        <div>{{ p.cash }}</div>
                                    </div>

                                </div>
                                <hr>
                                <div class="mb-2 mt-2 d-none" id="pId{{p.id}}">
                                </div>
                                
                                <div class="d-flex align-items-center justify-content-between flex-wrap small">
                                    <button class="btn btn-sm btn-secondary" name="show-trade-record" type="button" id="{{p.id}}">
                                        {% trans '查看明细' %}
                                    </button>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock content %}

{% block javascript %}
{{ block.super }}
{% endblock javascript %}