{% extends 'siteadmin_base.html' %}
{% load static i18n %}
{% load crispy_forms_tags thumbnail humanize %}

{% block title %}{% endblock %}

{% block head %}
{% endblock %}

{% block sidebar %}
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">{% trans '51投资分析-管理后台' %}</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="index.html">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>{% trans '仪表盘' %}</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        {% trans '网站设置' %}
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item active">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
            aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>{% trans '网站设置' %}</span>
        </a>
        <!-- <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Custom Components:</h6>
                <a class="collapse-item" href="buttons.html">{% trans '基本设置' %}</a>
                <a class="collapse-item" href="cards.html">{% trans '扩展设置' %}</a>
            </div>
        </div> -->
    </li>

    <!-- Heading -->
    <div class="sidebar-heading">
        {% trans '查询分析' %}
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="/siteadmin/query-analyzer/" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
            aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>{% trans '查询分析' %}</span>
        </a>
    </li>

</ul>
{% endblock sidebar %}

{% block content %}
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">{% trans '网站设置' %}</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> {% trans '生成报表' %}</a>
    </div>

    <!-- Content Row -->
    <div class="my-3 p-3 bg-white rounded box-shadow">
        <h6 class="border-bottom border-gray pb-2 mb-0">{% trans '设置' %}</h6>
        <div class="media text-muted pt-3">
            <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <div class="d-flex justify-content-between align-items-center w-100">
                    <strong class="text-gray-dark">{% trans '上市公司信息' %}</strong>
                    <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                        <button type="button" class="btn btn-success" id="syncCompanyInfo">{% trans '同步' %}</button>
                    </div>
                </div>
                <span class="d-block" id="syncStatus">{% trans '@tushare lib' %}</span>
                <i class="fa fa-spinner fa-spin d-none" id="syncSpinner"></i>
            </div>
        </div>
        <div class="media text-muted pt-3">
            <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <div class="d-flex justify-content-between align-items-center w-100">
                    <strong class="text-gray-dark">{% trans '手动生成账户快照' %}</strong>
                    <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                        <button type="button" class="btn btn-success" id="executeStockSnapshot">{% trans '执行' %}</button>
                    </div>
                </div>
                <span class="d-block" id="snapshotStatus">{% trans '@LoveRollingSnowball' %}</span>
                <i class="fa fa-spinner fa-spin d-none" id="snapshotSpinner"></i>
            </div>
        </div>
        <small class="d-block text-right mt-3">
            <a href="#">{% trans '所有设置' %}</a>
        </small>
    </div>

</div>
{% endblock content %}

{% block javascript %}
{{ block.super }}
{% endblock javascript %}