{% extends 'base.html' %}
{% load static i18n %}
{% load crispy_forms_tags thumbnail humanize %}

{% block title %}{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<div class="content-wrapper">
    {% comment %} 股票搜索框 {% endcomment %}
    <div class="row flex-grow mb-4">
        <div class="col-lg-3 grid-margin stretch-card">
            <input type="text"  id="searchForAnalysis" class="form-control" placeholder="{% trans '输入股票名称或代码'%}" aria-label="search" aria-describedby="search">
            <input type="hidden"  id="hiddenCode"/>
        </div>
        <div class="col-lg-9">

            <div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
                <span class="mt-1 mr-1">{% trans '测试周期' %}</span>
                <label class="btn btn-light">
                    <input type="radio" name="period" id="p10" autocomplete="off" value="10">{% trans '10天' %}
                </label>
                <label class="btn btn-light active">
                    <input type="radio" name="period" id="p20" autocomplete="off" value="20" checked>{% trans '20天' %} 
                </label>
                <label class="btn btn-light">
                    <input type="radio" name="period" id="p30" autocomplete="off" value="30">{% trans '30天' %} 
                </label>
                <label class="btn btn-light">
                    <input type="radio" name="period" id="p50" autocomplete="off" value="50">{% trans '50天' %} 
                </label>
                <label class="btn btn-light ">
                    <input type="radio" name="period" id="p80" autocomplete="off" value="80" >{% trans '80天' %} 
                </label>
            </div>
        </div>
    </div>
    <hr/>
    {% comment %} 策略列表 {% endcomment %}
    <div class="row flex-grow mb-4">
        <div class="col-lg-12">
            <div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-light active">
                    <input type="radio" name="strategy-ctg" id="scBuy" autocomplete="off" value="buy" checked>{% trans '买入策略' %}
                </label>
                <label class="btn btn-light ">
                    <input type="radio" name="strategy-ctg" id="scSell" autocomplete="off" value="sell" >{% trans '买出策略' %} 
                </label>
                <label class="btn btn-light">
                    <input type="radio" name="strategy-ctg" id="scAdd" autocomplete="off" value="add">{% trans '加仓策略' %} 
                </label>
                <label class="btn btn-light">
                    <input type="radio" name="strategy-ctg" id="scReduce" autocomplete="off" value="reduce">{% trans '减仓策略' %} 
                </label>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row flex-grow">
        <div class="col-md-12 stretch-card">
            <div class="card shadow">
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between flex-wrap">
                        <p class="card-title"><i class="fa fa-coins"></i> {% trans '预期涨幅vs.天数分布' %}<span class="text-muted small"> {% trans '(仅作投资参考)' %}</span></p>
                        <p class="font-weight-medium">
                            <span class="text-muted small mr-1">{% trans '平均涨幅%' %}</span>
                            <span class="text-danger" id="prfProfitRatio"></span>
                        </p>
                    </div>
                    <div class="no-trans-data" id="noProfit"></div>
                    <canvas id="incrOn" height="200"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row flex-grow mt-5">
        <div class="col-md-6 stretch-card">
            <div class="card shadow">
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between flex-wrap">
                        <p class="card-title"><i class="fa fa-coins"></i> {% trans '涨幅分布' %}<span class="text-muted small"> {% trans '(仅作投资参考)' %}</span></p>
                        <p class="font-weight-medium">
                            <span class="text-muted small mr-1">{% trans '平均涨幅%' %}</span>
                            <span class="text-danger" id="prfProfitRatio"></span>
                        </p>
                    </div>
                    <div class="no-trans-data" id="noProfit"></div>
                    <canvas id="incrDist" height="130"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-6 stretch-card">
            <div class="card shadow">
                <div class="card-body">
                    <div class="d-flex align-items-center
                        justify-content-between flex-wrap">
                        <p class="card-title"><i class="fa fa-arrow-alt-circle-left"></i>{% trans '跌幅分布' %}<span class="text-muted small"> {% trans '(仅作投资参考)' %}</span></p>
                        <p class="text-danger font-weight-medium" id="">
                            <span class="text-muted small mr-1">{% trans '平均跌幅' %}</span>
                            <span class="text-danger" id="invRelAttemptRatio"></span>
                        </p>
                    </div>
                    <div class="no-trans-data" id="noAttempt"></div>
                    <canvas id="dropDist" height="130"></canvas>
                </div>
            </div>
        </div>
    </div>
    {% comment %} 
    策略分析股票历史数据模拟 
    可选分析周期: 60日，120日，240日
    1. 买入后最大涨幅，最大跌幅（买入策略）
    2. 买入后涨幅达到10%，20%，30%的时间（买入策略）
    3. 卖出后最大涨幅（卖出策略）
    4. 卖出后最大跌幅（卖出策略）
    5. 买入/卖出成功率（历史记录）

    {% endcomment %}
</div>
<!-- content-wrapper ends -->
{% endblock content %}

{% block javascript %}
{{ block.super }}
<script
    src="https://cdn.bootcss.com/babel-polyfill/7.8.7/polyfill.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/luxon@1.19.3"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.0"></script>
<script
    src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@0.2.0"></script>
<script src="{% static 'js/chartjs-chart-financial.v_0_1_1.js' %}"type="text/javascript"></script>
<script src="{% static 'js/analysis.js' %}" type="text/javascript"></script>
{% endblock javascript %}