{% extends 'base.html' %}
{% load static i18n %}
{% load crispy_forms_tags thumbnail humanize %}

{% block title %}
{% trans '投资策略分析' %}
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<div class="content-wrapper">
    {% comment %} 股票搜索框 {% endcomment %}
    <div class="row flex-grow mb-4">
        <div class="col-lg-3 grid-margin stretch-card">
            <input type="text"  id="searchForAnalysis" class="form-control" placeholder="{% trans '输入股票名称或代码'%}" aria-label="search" aria-describedby="search">
            <input type="hidden"  id="hiddenTsCode"/>
            <input type="hidden"  id="hiddenStockName"/>

        </div>
        {% comment %} 策略列表 {% endcomment %}
        <div class="col-lg-3">
            <div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
                {% if analysis %}
                {% for ctg in analysis.strategy_ctgs %}
                    <label class="btn btn-light  {% if forloop.first %}active{% endif %}">
                        <input type="radio" name="strategy-ctg" id="{{ctg.category}}" autocomplete="off" value="{{ctg.category}}" {% if forloop.first %}checked{% endif %}>{{ctg.category}}
                    </label>
                {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="col-lg-6">
            <div class="btn-group btn-group-sm btn-group-toggle float-right" data-toggle="buttons">
                <span class="mt-1 mr-1 small">{% trans '持仓周期' %}</span>
                <label class="btn btn-light active">
                    <input type="radio" name="period" id="p10" autocomplete="off" value="10" checked>{% trans '10天' %}
                </label>
                <label class="btn btn-light ">
                    <input type="radio" name="period" id="p20" autocomplete="off" value="20" >{% trans '20天' %} 
                </label>
                <label class="btn btn-light">
                    <input type="radio" name="period" id="p30" autocomplete="off" value="30">{% trans '30天' %} 
                </label>
                <label class="btn btn-light">
                    <input type="radio" name="period" id="p50" autocomplete="off" value="50">{% trans '50天' %} 
                </label>
                <label class="btn btn-light ">
                    <input type="radio" name="period" id="p80" autocomplete="off" value="80" >{% trans '80天' %} 
                </label>
                <label class="btn btn-light ">
                    <input type="radio" name="period" id="p80" autocomplete="off" value="130" >{% trans '130天' %} 
                </label>
                <label class="btn btn-light ">
                    <input type="radio" name="period" id="p80" autocomplete="off" value="210" >{% trans '210天' %} 
                </label>
                <label class="btn btn-light ">
                    <input type="radio" name="period" id="p80" autocomplete="off" value="350" >{% trans '350天' %} 
                </label>
                <label class="btn btn-light ">
                    <input type="radio" name="period" id="p80" autocomplete="off" value="560" >{% trans '560天' %} 
                </label>
            </div>
        </div>
    </div>
    <hr/>
    <div class="container row stretch-card" id="strategyList">
        
    </div>
    <input type="hidden"  id="hiddenStrategyCode" value="jiuzhuan_b"/>
    <input type="hidden"  id="hiddenStrategyName"/>
    <input type="hidden"  id="hiddenStrategyBtnId"/>
    <hr/>     
    {% comment %} 
    策略分析股票历史数据模拟 
    可选分析周期: 60日，120日，240日
    1. 买入后最大涨幅，最大跌幅（买入策略）
    2. 买入后涨幅达到10%，20%，30%的时间（买入策略）
    3. 卖出后最大涨幅（卖出策略）
    4. 卖出后最大跌幅（卖出策略）
    5. 买入/卖出成功率（历史记录）

    {% endcomment %}
    <!-- <div><i class="fa fa-chart-line"></i>{% trans '当前分析策略为 - ' %} </div> -->
    <hr/>
    <div class="row flex-grow">
        <div class="col-md-6 stretch-card mb-4">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between flex-wrap">
                        <p class="card-title"><i class="fa fa-chart-line"></i> <span id="maxIncrTitle">{% trans '历史涨幅分布' %}</span><span class="text-muted small"> {% trans '(仅作投资参考)' %}</span></p>
                        <p class="font-weight-medium">
                            <span class="text-muted small mr-1">{% trans '平均涨幅 - ' %}</span>
                            <span class="text-danger" id="avgIncr">-</span>
                        </p>
                    </div>
                    <div class="text-muted small">
                        {% trans '[策略] ' %}<span class="mr-1 cur-strategy">{% trans '未选择' %}</span>
                        {% trans '[股票] ' %}<span class="mr-1 cur-stock">{% trans '未选择' %}</span>
                    </div>
                    <div>
                        <span class="text-muted small mr-1">{% trans '25ile - ' %}</span>
                        <span class="text-primary" id="incr25ile">-</span>
                        <span class="text-muted small mr-1">{% trans '50ile - ' %}</span>
                        <span class="text-primary" id="incr50ile">-</span>
                        <span class="text-muted small mr-1">{% trans '75ile - ' %}</span>
                        <span class="text-primary" id="incr75ile">-</span>
                    </div>
                    <div class="no-trans-data" id="noProfit"></div>
                    <canvas id="incrDist" height="130"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-6 stretch-card  mb-4">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center
                        justify-content-between flex-wrap">
                        <p class="card-title"><i class="fa fa-chart-line"></i>{% trans '历史跌幅分布' %}<span class="text-muted small"> {% trans '(仅作投资参考)' %}</span></p>
                        <p class="text-danger font-weight-medium" id="">
                            <span class="text-muted small mr-1">{% trans '平均跌幅 - ' %}</span>
                            <span class="text-success" id="avgDrop">-</span>
                        </p>
                    </div>
                    <div class="text-muted small" >
                        {% trans '[策略] ' %}<span class="mr-1 cur-strategy">{% trans '未选择' %}</span>
                        {% trans '[股票] ' %}<span class="mr-1 cur-stock">{% trans '未选择' %}</span>
                    </div>
                    <div>
                        <span class="text-muted small mr-1">{% trans '25ile - ' %}</span>
                        <span class="text-primary" id="drop25ile">-</span>
                        <span class="text-muted small mr-1">{% trans '50ile - ' %}</span>
                        <span class="text-primary" id="drop50ile">-</span>
                        <span class="text-muted small mr-1">{% trans '75ile - ' %}</span>
                        <span class="text-primary" id="drop75ile">-</span>
                    </div>
                    <div class="no-trans-data" id="noAttempt"></div>
                    <canvas id="dropDist" height="130"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row flex-grow">
        <div class="col-md-12 stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between flex-wrap">
                        <p class="card-title"><i class="fa fa-chart-line"></i> {% trans '达到预期涨幅天数' %}<span class="text-muted small"> {% trans '(仅作投资参考)' %}</span></p>
                        <p class="font-weight-medium">
                            <span class="text-muted small mr-1">{% trans '平均天数 - ' %}</span>
                            <span class="text-danger" id="avgExpPct">-</span>
                        </p>
                    </div>
                    <div class="text-muted small" >
                        {% trans '[策略] ' %}<span class="mr-1 cur-strategy">{% trans '未选择' %}</span>
                        {% trans '[股票] ' %}<span class="mr-1 cur-stock">{% trans '未选择' %}</span>
                    </div>
                    <div>
                        <span class="text-muted small mr-1">{% trans '25ile - ' %}</span>
                        <span class="text-primary" id="expPct25ile">-</span>
                        <span class="text-muted small mr-1">{% trans '50ile - ' %}</span>
                        <span class="text-primary" id="expPct50ile">-</span>
                        <span class="text-muted small mr-1">{% trans '75ile - ' %}</span>
                        <span class="text-primary" id="expPct75ile">-</span>
                    </div>
                    <div class="btn-group btn-group-sm btn-group-toggle mt-2" data-toggle="buttons">
                        <label class="btn btn-light ">
                            <input type="radio" name="pct_period" autocomplete="off" value="pct10_period" >{% trans '10%' %}
                        </label>
                        <label class="btn btn-light active">
                            <input type="radio" name="pct_period" autocomplete="off" value="pct20_period" checked>{% trans '20%' %} 
                        </label>
                        <label class="btn btn-light">
                            <input type="radio" name="pct_period" autocomplete="off" value="pct30_period">{% trans '30%' %} 
                        </label>
                        <label class="btn btn-light">
                            <input type="radio" name="pct_period" autocomplete="off" value="pct50_period">{% trans '50%' %} 
                        </label>
                        <label class="btn btn-light">
                            <input type="radio" name="pct_period" autocomplete="off" value="pct80_period">{% trans '80%' %} 
                        </label>
                        <label class="btn btn-light">
                            <input type="radio" name="pct_period" autocomplete="off" value="pct100_period">{% trans '100%' %} 
                        </label>
                        <label class="btn btn-light">
                            <input type="radio" name="pct_period" autocomplete="off" value="pct130_period">{% trans '130%' %} 
                        </label>
                    </div>
                   
                    <div class="no-trans-data" id="noProfit"></div>
                    <canvas id="expIncrPct" height="150"></canvas>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- content-wrapper ends -->
{% endblock content %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript" charset="utf-8">var imgRoot = "{% static 'img/' %}"</script>
<script
    src="https://cdn.bootcss.com/babel-polyfill/7.8.7/polyfill.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/luxon@1.19.3"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.0"></script>
<script
    src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@0.2.0"></script>
<script src="{% static 'js/chartjs-chart-financial.v_0_1_1.js' %}"type="text/javascript"></script>
<script src="{% static 'js/analysis.js' %}" type="text/javascript"></script>

{% endblock javascript %}