<div class="row">
  <div class="col-lg-2">
    <div class="small">
      <a href="#" class="text-dark">undefined</a>
      <span class="small text-muted" id="">603380.SH</span>
    </div>
    <div class="small">
      <span class="small text-muted" id="xxx">价:22.29</span>
      <span class="small text-danger" id="xxx">涨: -1.00</span>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="content-wrapper small">
      <div class="row">
        <div class="col-lg-2">天</div>
        <div class="col-lg-2">25ile</div>
        <div class="col-lg-2">50ile</div>
        <div class="col-lg-2">75ile</div>
        <div class="col-lg-2">Mean</div>
        <div class="col-lg-2">Best</div>
      </div>
      <div class="row">
        <div class="col-lg-2">80</div>
        <div class="col-lg-2">4.79</div>
        <div class="col-lg-2">18.2</div>
        <div class="col-lg-2">24.23</div>
        <div class="col-lg-2">19.23</div>
        <div class="col-lg-2">50.03</div>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="content-wrapper small">
      <div class="row">
        <div class="col-lg-2">持仓</div>
        <div class="col-lg-2">25ile</div>
        <div class="col-lg-2">50ile</div>
        <div class="col-lg-2">75ile</div>
        <div class="col-lg-2">Mean</div>
        <div class="col-lg-2">Worst</div>
      </div>
      <div class="row">
        <div class="col-lg-2">80</div>
        <div class="col-lg-2">-21.77</div>
        <div class="col-lg-2">-11.27</div>
        <div class="col-lg-2">0</div>
        <div class="col-lg-2">-10.39</div>
        <div class="col-lg-2">undefined</div>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="content-wrapper small">
      <div class="row">
        <div class="col-lg-2">涨幅</div>
        <div class="col-lg-2">25ile</div>
        <div class="col-lg-2">50ile</div>
        <div class="col-lg-2">75ile</div>
        <div class="col-lg-2">Mean</div>
        <div class="col-lg-2">Best</div>
      </div>
      <div class="row">
        <div class="col-lg-2">20%</div>
        <div class="col-lg-2">32.3</div>
        <div class="col-lg-2">161</div>
        <div class="col-lg-2">642.25</div>
        <div class="col-lg-2">361.25</div>
        <div class="col-lg-2">19</div>
      </div>
    </div>
  </div>
</div>
<hr />
