{% load static i18n thumbnail %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{% block title %}{% trans '投呗' %}{% endblock title %}</title>


  <!-- Bootstrap core CSS -->
  <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
  <link rel="icon" type="image/png" href="{% static 'img/favicon.ico' %}">

  <!-- Custom fonts for this template -->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/landing-page.min.css' %}" rel="stylesheet">

</head>
<body>

  <!-- Navigation -->
  <nav class="navbar static-top">
    <div class="container">
      <div>
        <img src="{% static 'img/logo.jpg' %}" height="40" width="40" style="border-radius: 10%;" class="mr-1">      
        <a class="navbar-brand text-primary" href="{% url 'home' %}">{% trans '投呗' %}</a>
      </div>
      <a class="btn btn-primary" href="#">{% trans '登录' %}</a>
    </div>
  </nav>
  <hr class="tight-hr">
  {% block content %}
    <p>Use this document as a way to quick start any new project.</p>
  {% endblock content %}
  <hr>
  <!-- Footer -->
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
          <ul class="list-inline mb-2">
            <li class="list-inline-item">
              <a class="text-secondary" href="#">{% trans '关于' %}</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a class="text-secondary" href="#">{% trans '联系我们' %}</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a class="text-secondary" href="#">{% trans '使用规范' %}</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a class="text-secondary" href="#">{% trans '隐私策略' %}</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a class="text-secondary" href="http://www.beian.miit.gov.cn/?spm=a2c4g.11186623.2.16.31bf7dc6aTLr4u">{% trans '苏ICP备20021061号-1' %}</a> 
            </li>
          </ul>
          <p class="text-muted small mb-lg-0">{% trans '版权所有'%} &copy; {% trans '投呗'%} {% now "Y" %} </p>
        </div>
        <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
          <ul class="list-inline mb-0">
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-linkedin fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-twitter-square fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-instagram fa-2x fa-fw"></i>
              </a>
            </li>
            
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>
