{% extends 'base.html' %}
{% load static i18n %}
{% load crispy_forms_tags thumbnail humanize %}

{% block title %}{% endblock %}

{% block head %}
{% endblock %}

{% block content %}

<!-- /.container -->
<div class="content-wrapper">
    <div class="row flex-grow mb-4">
        <div class="col-lg-3 grid-margin stretch-card">
            <!-- <h5>{% trans '欢迎回来，'%}{{request.user.username}}</h5> -->
            <input type="text"  id="searchForTrade" class="form-control" placeholder="{% trans '输入股票名称或代码'%}" aria-label="search" aria-describedby="search" {% if dashboard.trade_accounts.count == 0 %}readonly{% endif %}>
            <input type="hidden"  id="defaultAccount" value="{% if dashboard.trade_accounts.count > 0 %}{{ dashboard.trade_accounts.0.id }}{% endif %}"/>
                
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 grid-margin stretch-card">
            <div class="row flex-grow">
                <div class="col-md-6 stretch-card">
                    <div class="card shadow">
                        <div class="card-body">
                            <div class="d-flex align-items-center justify-content-between flex-wrap">
                                <p class="card-title"><i class="fa fa-coins"></i> {% trans '收益分布' %}<span class="text-muted small"> {% trans '(下午3:30更新)' %}</span></p>
                                <p class="font-weight-medium">
                                    <span class="text-muted small mr-1">{% trans '收益率' %}</span>
                                    <span class="text-danger" id="prfProfitRatio"></span>
                                </p>
                            </div>
                            <div class="d-flex align-items-center justify-content-between  flex-wrapper mb-3">
                                <div class="d-flex align-items-center justify-content-between  flex-wrapper small">
                                    <h5 class="font-weight-normal mb-0 mb-md-1 mb-lg-0 mr-3 text-muted">{% trans '￥' %}<span id="prfAvgProfit"></span></h5>
                                    <p class="text-muted mb-0">{% trans '平均收益' %}</p>
                                </div>
                                <div class="btn-group btn-group-sm btn-group-toggle small" data-toggle="buttons">
                                    <label class="btn btn-light active">
                                        <input type="radio" name="period" id="optWeek" autocomplete="off" value="w" checked>{% trans '日' %} 
                                    </label>
                                    <label class="btn btn-light">
                                        <input type="radio" name="period" id="optMonth" autocomplete="off" value="m">{% trans '周' %} 
                                    </label>
                                    <label class="btn btn-light">
                                        <input type="radio" name="period" id="optYear" autocomplete="off" value="y">{% trans '月' %} 
                                    </label>
                                </div>
                            </div>
                            <div class="no-trans-data" id="noProfit"></div>
                            <canvas id="profitDevChartWeek" height="130"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 stretch-card">
                    <div class="card shadow">
                        <div class="card-body">
                            <div class="d-flex align-items-center
                                justify-content-between flex-wrap">
                                <p class="card-title"><i class="fa fa-arrow-alt-circle-left"></i>{% trans '交易频次' %}<span class="text-muted small"> {% trans '(下午3:30更新)' %}</span></p>
                                <p class="text-danger font-weight-medium" id="">
                                    <span class="text-muted small mr-1">{% trans '成功率' %}</span>
                                    <span class="text-danger" id="invRelAttemptRatio"></span>
                                </p>
                            </div>
                            <div class="d-flex align-items-center flex-wrap mb-3 small">
                                <h5 class="font-weight-normal mb-0 mb-md-1
                                    mb-lg-0 mr-3" id="invAvgAttempt"></h5>
                                <p class="text-muted mb-0">{% trans '平均成功次数' %}</p>
                            </div>
                            <div class="no-trans-data" id="noAttempt"></div>
                            <canvas id="tradeSuccessRatio" height="130"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 grid-margin stretch-card">
                    <div class="card shadow mt-4 mb-4">
                        <div class="card-body">
                            <p class="card-title"><i class="fa fa-chart-line" ></i> {% trans '我的持仓 ' %}<small><span class="text-muted">{% trans '(注: 计算结果和您的股票账户可能稍有不同，请以您的实际股票账户为准)' %}</span></small></p>
                            <div class="text-muted"> {% trans '今日收益（元）' %}</div>
                            <span class="text-danger">{{ dashboard.today_pnl }}</span>
                            <div class="d-flex align-items-center justify-content-between flex-wrap mt-2">
                                <div class="text-primary"> 
                                    <div>{% trans '本金' %}</div>
                                    <div><span id="capital">{{ dashboard.capital }}</span></div>
                                </div>
                                <div class="text-primary"> 
                                    <div>{% trans '总资产' %}</div>
                                    <div><span id="pnl">{{ dashboard.profit_loss }}</span></div>
                                </div>
                                <div class="text-primary"> 
                                    <div>{% trans '持仓股票数' %}</div>
                                    <div><span id="shares">{{ dashboard.total_shares }}</span></div>
                                </div>
                                <div class="text-primary"> 
                                    <div>{% trans '管理账户数' %}</div>
                                    <div><span id="accounts">{{ dashboard.total_accounts }}</span></div>
                                </div>

                            </div>
                            {% if dashboard %}
                            {% for p in dashboard.positions %}
                            <div class="card shadow mb-2 mt-4">
                                <div class="card-body">
                                    <div class='d-flex align-items-center justify-content-between flex-wrap small'>
                                        <div class="">
                                            <h6 class="card-title">{{ p.stock_name }}({% trans '账户:' %}{{ p.trade_account.account_name }}) - <span class="small text-muted">{% if p.lots != 0 %}{% trans '已持仓' %}{{ p.ftd }}{% trans '天' %}{% else %}<span class="text-danger">{% trans '已清仓，共持仓' %}{{ p.ltd }}{% trans '天' %}</span>{% endif %}</span></h6>
                                            <h7 class="card-subtitle mb-2 text-muted"><a href="#" class="text-dark">{{ p.stock_code }}</a></h7>
                                        </div>
                                        
                                        <div class="">
                                            <div class="">
                                            {% if p.profit < 0 %}
                                            <td><span class="badge badge-pill badge-success mr-1">{{ p.profit_ratio }}</span><span class="badge badge-pill badge-success">{{ p.profit|floatformat }}</span></td>
                                            {% else %}
                                            <td><span class="badge badge-pill badge-danger mr-1">+{{ p.profit_ratio }}</span><span class="badge badge-pill badge-danger">+{{ p.profit|floatformat }}</span></td>
                                            {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="d-flex align-items-center justify-content-between flex-wrap small">
                                        <div class="text-primary"> 
                                            <div>{% trans '现价' %}</div>
                                            <div>{{ p.current_price }}</div>
                                        </div>
                                        <div class="text-primary"> 
                                            <div>{% trans '成本' %}</div>
                                            <div>{{ p.position_price }}</div>
                                        </div>
                                        <div class="text-primary">  
                                            <div>{% trans '持仓' %}{% trans ' (目标仓位)' %}</div>
                                            <div><span class="mr-1">{{ p.lots }}<span> ({{ p.target_position }})</span></div>
                                        </div>
                                        <div class="text-primary">  
                                            <div>{% trans '市值' %}</div>
                                            {% ifequal p.lots 0  %}
                                            <div>0</div>
                                            {% else %}
                                            <div>{{ p.cash|add:p.profit }}</div>
                                            {% endifequal %}
                                        </div>

                                    </div>
                                    <hr>
                                    <div class="mb-2 mt-2 d-none" id="pId{{p.id}}">
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <a class="btn btn-sm btn-outline-info mr-1" href="{% url 'stocktrade:home' account_id=p.trade_account.id symbol=p.stock_code %}"><i class="fa fa-plus"></i>{% ifequal p.lots 0  %}{% trans '再次买入' %}{% else %}{% trans '记录交易' %}{% endifequal %}</a>
                                            <!-- <a class="btn btn-sm btn-outline-primary" href="#">{% trans '卖出-' %}</a> -->
                                            <button class="btn btn-sm btn-outline-info" name="show-trade-record"  id="{{p.id}}" ><i class="fa fa-eye"></i>{% trans '交易明细' %}</button>

                                        </div>
                                    
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% comment %} <div class="col-md-12 grid-margin stretch-card">
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <p class="card-title"><i class="fa fa-chart-line" ></i> {% trans '投资收益曲线' %}</p>
                            <p class="text-muted">25% more traffic than previous
                                week</p>
                            <canvas id="profitDevChart" height="150"></canvas>
                        </div>
                    </div>
                </div> {% endcomment %}
            </div>
        </div>
        <div class="col-lg-4 grid-margin stretch-card">
            <div class="grid-margin stretch-card">
                <div class="d-flex flex-wrap pt-2">
                    <div class="col-md-12 order-md-2 mb-4">
                        <h5 class="d-flex justify-content-between align-items-center mb-3">
                            <span class="text-muted">{% trans '已有交易账户' %}</span>
                            <span class="badge badge-info badge-pill">{{dashboard.total_accounts}}</span>
                        </h5>
                        {% if dashboard %}
                        {% if dashboard.trade_accounts|length == 0 %}
                        <div class="d-flex justify-content-between align-items-center">
                            <span>{% trans '无虚拟交易账户，请单击 ' %}<a href="{% url 'trade_account:index' %}" class="btn btn-danger"><i class="fa fa-piggy-bank mr-1"></i>{% trans '创建' %}</a></span>
                        </div>
                        {% else %}
                        <div class="list-group mb-3" id="accountList">
                            {% for a in dashboard.trade_accounts %}
                            <div id="{{a.id}}" class="list-group-item d-flex justify-content-between list-group-item-action lh-condensed">
                                <div>
                                    <h6 class="my-0">
                                        {{a.account_name}}
                                    </h6>
                                    <small class="text-muted">{{a.account_type}}</small>

                                </div>
                                <div>
                                    <h6 class="text-muted">{{a.account_balance}}</h6>
                                    <a href="{% url 'stocktrade:home' account_id=a.id symbol='sh' %}" class="btn btn-sm btn-outline-info"><i class="fa fa-plus"></i>{%trans '记录交易'%}</a>
                                </div>
                            </div>
                            {% endfor %}
                            <li class="list-group-item d-flex justify-content-between">
                                <span>{% trans '账户总额（￥）' %}</span>
                                <strong id="totalAccBalance">{{ dashboard.profit_loss }}</strong>
                            </li>
                        </div>
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
                <!-- <canvas id="activity-chart"></canvas> -->
            </div>
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card shadow mb-4">
                    <div class="card-body pb-0">
                        <div class="d-flex justify-content-between flex-wrap">
                            <div>
                                <p class="card-title mr-1">
                                    <i class="fa fa-chart-bar" ></i> {% trans '我的仓位' %}
                                    <span class="badge badge-info badge-pill" id="pTotalShares">{{ dashboard.total_shares }}</span>

                                </p>
                            </div>
                            <div>
                                <span class="text-sm text-danger font-weight-medium" id="pTotalAvailPerTarget"></span>
                            </div>
                            
                        </div>
                        <div class="d-flex flex-wrap mb-2">
                            <div class="regional-chart-legend d-flex align-items-center flex-wrap mb-1" id="positionLegend"></div>
                            <div class="no-trans-data" id="noPosition"></div>
                            <canvas height="280" id="positionChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-12 grid-margin stretch-card d-none">
                <div class="card shadow mb-4">
                    <div class="card-body pb-0">
                        <div class="d-flex align-items-center mb-4">
                            <p class="card-title mb-0 mr-1"><i class="fa fa-cog" ></i>  {% trans '交易策略' %}</p>
                            <span class="badge badge-info badge-pill" id="sTotalStrategies">{{ dashboard.total_strategies }}</span>
                        </div>
                        <div class="d-flex flex-wrap pt-2 small">
                            {% if dashboard %}
                            {% for s in dashboard.strategies %}
                                <button type="button" class="btn btn-sm btn-light mb-2 ml-2"><i class="fa">{{ s.name }}</i></button>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <canvas height="150" id="activity-chart"></canvas>
                </div>
            </div>
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card shadow mb-4">
                    <div class="card-body pb-0">
                        <div class="d-flex align-items-center mb-4">
                            <p class="card-title mb-0 mr-1">{% trans '我的自选股' %}</p>
                            <div class="badge badge-info badge-pill" id="fTotalFollowing">{{ dashboard.total_following }}</div>
                        </div>
                        <div class="d-flex flex-wrap pt-2 small">
                            {% if dashboard %}
                            {% for f in dashboard.followings %}
                            <button type="button" class="btn btn-sm btn-light mb-2 ml-2"><i class="fa fa-bar">{{f.stock_name }} [{{f.stock_code }}]</i></button>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <canvas height="150" id="activity-chart"></canvas>
                </div>
            </div> 
        </div>
    </div>
</div>
<!-- content-wrapper ends -->
{% endblock content %}

{% block javascript %}
{{ block.super }}
<script
    src="https://cdn.bootcss.com/babel-polyfill/7.8.7/polyfill.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/luxon@1.19.3"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.0"></script>
<script
    src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@0.2.0"></script>
<script src="{% static 'js/chartjs-chart-financial.v_0_1_1.js' %}"type="text/javascript"></script>
<!-- place project specific Javascript in this file -->
<!-- <script src="{% static 'js/charts-utils.js' %}" type="text/javascript"></script> -->
<script src="{% static 'js/dashboard.js' %}" type="text/javascript"></script>
{% endblock javascript %}