{% extends 'base.html' %} {% load static i18n %} {% load thumbnail humanize %}
{% block title %}{% endblock %} {% block head %} {% endblock %} 
{% block content %}
<!-- Page Content -->
<!-- Content -->
<div id="content" class="colM">
  <div class="row">
    <div class="col-md-4 order-md-2 mb-4">
      <h5 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">{% trans '已有交易账户' %}</span>
        <span class="badge badge-secondary badge-pill">{{trade_account.total_accounts}}</span>
      </h5>
      <div class="list-group mb-3" id="accountList">
        {% if trade_account %}
        
        {% for trade_account in trade_account.trade_accounts %}
        <div id="{{trade_account.id}}" class="list-group-item d-flex justify-content-between list-group-item-action lh-condensed">
          <div>
            <h6 class="my-0">{{trade_account.account_name}}
            </h6>
            <small class="text-muted">{{trade_account.account_type}}</small>
            <a href="{% url 'stocktrade:home' account_id=trade_account.id symbol='sh' %}" class="small badge-info badge-pill">{%trans '记录交易'%}</a>
          </div>
          <span class="text-muted">{{trade_account.account_balance}}</span>
          
          <input type="hidden" id="accProvider{{trade_account.id}}" value="{{trade_account.account_provider}}"/>
          <input type="hidden" id="accValidSince{{trade_account.id}}" value="{{trade_account.activate_date|date:'Y-m-d'}}"/>
          <input type="hidden" id="accTradeFee{{trade_account.id}}" value="{{trade_account.service_charge}}"/>
          <input type="hidden" id="accCapital{{trade_account.id}}" value="{{trade_account.account_capital}}"/>
          <input type="hidden" id="accId{{trade_account.id}}" value="{{trade_account.id}}"/>
        </div>
        {% endfor %}
        <li class="list-group-item d-flex justify-content-between">
          <input type="hidden" id="hiddenAccId"/>
          <span>{% trans '账户总额（￥）' %}</span>
          <strong id="totalAccBalance">{{ trade_account.total_balance }}</strong>
        </li>
        {% endif %}
      </div>
    </div>
    <div class="col-md-8 order-md-1">
      <h4 class="mb-3">{% trans '创建股票交易账户' %}</h4>
      <form class="needs-validation" action="{% url 'user:account_create' %}">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="firstName">{% trans '开户证券公司' %}</label>
            <input type="text" class="form-control" id="accountProvider" placeholder="{% trans '开户证券公司' %}" value="" required>
            <!-- <div class="invalid-feedback">
              Valid first name is required.
            </div> -->
          </div>
          <div class="col-md-6 mb-3">
            <label for="lastName">{% trans '证券账户类型' %}</label>
            <input type="text" class="form-control" id="accountType" placeholder="{% trans '证券账户类型' %}" value="" required>
            <!-- <div class="invalid-feedback">
              Valid last name is required.
            </div> -->
          </div>
        </div>

        <div class="mb-3">
          <label for="username">{% trans '本金' %}</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">{% trans '￥' %}</span>
            </div>
            <input type="text" class="form-control" id="accountCapital" placeholder="{% trans '本金' %}" required>
            <!-- <div class="invalid-feedback" style="width: 100%;">
              Your username is required.
            </div> -->
          </div>
        </div>

        <div class="mb-3">
          <label for="username">{% trans '账户余额' %}</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">{% trans '￥' %}</span>
            </div>
            <input type="text" class="form-control" id="accountBalance" placeholder="{% trans '账户余额' %}" readonly>
            <!-- <div class="invalid-feedback" style="width: 100%;">
              Your username is required.
            </div> -->
          </div>
        </div>

        <div class="mb-3">
          <label for="tradeFee"><span class="text-muted">{% trans '交易手续费' %}</span></label>
          <input type="text" class="form-control" id="tradeFee" placeholder="{% trans '交易手续费' %}" required>
          <!-- <div class="invalid-feedback">
            Please enter a valid email address for shipping updates.
          </div> -->
        </div>

        <div class="mb-3">
          <label for="validDate">{% trans '开户时间' %}</label>
          <input class="form-control" type="date" id="accountValidSince" placeholder="{% trans '开户时间' %}">
          <!-- <div class="invalid-feedback">
            Please enter your shipping address.
          </div> -->
        </div>
        <hr class="mb-4">
        <input type="submit" value="{% trans '保存' %}" class="btn btn-lg btn-primary" id="btnSaveTradeAccount"/>
        <!-- <input type="submit" value="保存并增加另一个" class="btn btn-lg btn-primary" id="btnSaveAndCreateAnotherAcc"/> -->
        <input type="submit" value="{% trans '保存并继续编辑' %}" class="btn btn-lg btn-primary" id="btnSaveAndEdit"/>
        <input class="btn btn-danger btn-lg" type="submit" value="{% trans '删除' %}" id="btnRemove"/>
      </form>
    </div>
  </div>
  <br class="clear" />
</div>
<!-- END Content -->
<!-- /.row -->
<!-- /.container -->
{% endblock content %} 

{% block javascript %} {{ block.super }}
<!-- place project specific Javascript in this file -->
<script src="{% static 'js/trade_account.js' %}" type="text/javascript"></script>
{% endblock javascript %}
