{% extends 'base.html' %} {% load static i18n %} {% load thumbnail humanize %}
{% block title %}{% endblock %} {% block head %} {% endblock %} 
{% block content %}
<!-- Page Content -->
<!-- Content -->
<div id="content" class="colM">
    <form id="userForm" class="needs-validation" action="{% url 'user:update_profile' %}" enctype="multipart/form-data">
      <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
          <h5 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">{% trans '个人头像' %}</span>
          </h5>
          <div class="list-group mb-3" id="accountList">
            {% if request.user.picture %}
              <img src="/media/{{request.user.picture}}" alt="Picture Profile" id="pic" height="50" width="50">
            {% else %}
              <img src="{% static 'img/user.png' %}" alt="No Profile Picture" />
            {% endif %}
          </div>
          <div class="custom-file">
            <input type="file" class="custom-file-input" name="filePortrait" id="filePortrait">
            <label class="custom-file-label" for="validatedCustomFile">{% trans '请选择头像' %}</label>
            <div class="invalid-feedback">Example invalid custom file feedback</div>
          </div>
        </div>
        <div class="col-md-8 order-md-1">
          <h4 class="mb-3">{% trans '编辑我的信息' %}</h4>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="username">{% trans '用户名' %}</label>
                <input type="text" class="form-control" id="username" name="username" value="{{request.user.username}}" placeholder="{% trans '用户名' %}" readonly>
              </div>
              <div class="col-md-6 mb-3">
                <label for="firstName">{% trans '姓名' %}</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="{% trans '姓名' %}" value="{{ request.user.name }}" required>
                <!-- <div class="invalid-feedback">
                  Valid first name is required.
                </div> -->
              </div>
              <div class="col-md-12 mb-3">
              <label for="username">{% trans '电子邮件Email' %}</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <label class="input-group-text">{% trans '@' %}</label>
                </div>
                <input type="text" class="form-control" id="email" name="email" placeholder="{% trans '有效的Email' %}" value="{{request.user.email}}" required>
                <!-- <div class="invalid-feedback">
                  Valid last name is required.
                </div> -->
                </div>
              </div>
            </div>

            <div class="mb-3">
              <label for="username"><span class="text-muted">{% trans '城市' %}</span></label>
              <input type="text" class="form-control" id="location" name="location" placeholder="{% trans '城市' %}" value="{% ifnotequal request.user.location 'None' %} {{request.user.location}} {%endifnotequal%}">
                <!-- <div class="invalid-feedback" style="width: 100%;">
                  Your username is required.
                </div> -->
            </div>

            <div class="mb-3">
              <label for="username"><span class="text-muted">{% trans '工作/职务' %}</span></label>
              <input type="text" class="form-control" id="jobTitle" name="jobTitle" placeholder="{% trans '工作/职务' %}" value="{% ifnotequal request.user.job_title 'None' %} {{request.user.job_title}} {%endifnotequal%}">
                <!-- <div class="invalid-feedback" style="width: 100%;">
                  Your username is required.
                </div> -->
            </div>

            <div class="mb-3">
              <label for="tradeFee"><span class="text-muted">{% trans '一句话简介' %}</span></label>
              <input type="text" class="form-control" id="shortBio" name="shortBio" placeholder="{% trans '一句话简介' %}" value="{% ifnotequal request.user.short_bio 'None' %} {{request.user.short_bio}} {%endifnotequal%}">
              <!-- <div class="invalid-feedback">
                Please enter a valid email address for shipping updates.
              </div> -->
            </div>

            <hr class="mb-4">
            <input type="submit" value="{% trans '保存' %}" class="btn btn-lg btn-primary" id="btnSave"/>
            <!-- <input type="submit" value="保存并增加另一个" class="btn btn-lg btn-primary" id="btnSaveAndCreateAnotherAcc"/> -->
            <!-- <input type="submit" value="{% trans '保存并继续编辑' %}" class="btn btn-lg btn-primary" id="btnSaveAndEdit"/> -->
            <!-- <input class="btn btn-danger btn-lg" type="submit" value="{% trans '删除' %}" id="btnRemoveTradeAccount"/> -->
        </div>
      </div>
    </form>
  <br class="clear" />
</div>
<!-- END Content -->
<!-- /.row -->
<!-- /.container -->
{% endblock content %} 

{% block javascript %} {{ block.super }}
<!-- place project specific Javascript in this file -->
<script type="text/javascript">
$(function () {
  var userBaseEndpoint = '/user/';

  $("#btnSave").click(function () {
      event.preventDefault();
      var name = $('#name').val();
      var email = $('#email').val();
      var jobTitle = $('#jobTitle').val();
      var location = $('#location').val();
      var shortBio = $('#shortBio').val();
      var portrait = $('#filePortrait').val()

      if (name.length < 1) {
          $('#name').addClass("is-invalid");
          return;
      } else {
          $('#name').removeClass("is-invalid");
      }

      if (email.length < 1) {
          $('#email').addClass("is-invalid");
          return;
      } else {
          $('#email').removeClass("is-invalid");
      }

      var form = $("#userForm");
      var formData = new FormData(form[0]);

      $.ajax({
          url: userBaseEndpoint + 'profile/update',
          enctype: 'multipart/form-data',
          headers: { 'X-CSRFToken': csrftoken },
          method: 'POST',
          processData: false,
          contentType: false,
          // dataType: 'json',
          data: formData,
          // {
          // name: name,
          // email: email,
          // jobTitle: jobTitle,
          // location: location,
          // shortBio: shortBio,
          // portrait: portrait,
          // },
          success: function (data) {
              $("#messages").removeClass('d-none');
              $('#messages').removeClass('alert-warning');
              $("#messages").addClass('alert-success');
              $("#messageText").html('<strong>' + data.message + '</strong>.');
          },
          statusCode: {
              403: function () {
                  $("#messages").removeClass('d-none');
                  // $("#messages").addClass('d-block');
                  $("#messageText").html('<strong>403 forbidden</strong>.');
              },
              404: function () {
                  $("#messages").removeClass('d-none');
                  // $("#messages").addClass('d-block');
                  $("#messageText").html('<strong>404 page not found</strong>.');
              },
              500: function () {
                  $("#messages").removeClass('d-none');
                  $('#messages').removeClass('alert-success');
                  $('#messages').addClass('alert-warning');
                  // $("#messages").addClass('d-block');
                  $("#messageText").html('<strong>500 internal server error</strong>.');
              }
          }
      });
    });

    $('.close').click(function () {
        // e.preventDefault();
        $('#messages').addClass('d-none');
    });
  }
);
</script>
{% endblock javascript %}
