{% extends 'base.html' %}
{% load static i18n %}
{% load crispy_forms_tags thumbnail humanize %}

{% block title %}{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<!-- Page Content -->
<div class="row">
    <!-- <div class="col-lg-8">
        <div class="row">
            <input type="text" id="testContent"/>
            <button type="button" id="test">Click Me</button>
            <div id="testInfo"></div>
        </div>
    </div>
    </div> -->
    <!-- Post Content Column -->
    <div class="col-lg-8">
        <div class="row">
            <div class="col-lg-8">
                <!-- Title -->
                <h5 class="mt-4">{% trans '实时行情数据' %}</h5>
                <!-- Date/Time -->
                <p>{% trans '数据获取于' %}{% now "Y-m-d H:i" %}</p>
            </div>
        </div>
        
        <hr>
        <div class="card mb-4 mr-3">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">{% trans 'k线图' %}:</h6>
                </div>
                <div class="card-body">
                    <div class="chart-bar">
                    <canvas id="stockChart"></canvas>
                    </div>
                    <hr>
                </div>
                <div class="collapse">
                    Bar Type:
                    <select id="type">
                        <option value="candlestick" selected>Candlestick</option>
                        <option value="ohlc">OHLC</option>
                    </select>
                    Color Scheme:
                    <select id="color-scheme">
                        <option value="muted" selected>Muted</option>
                        <option value="neon">Neon</option>
                    </select>
                    Border:
                    <select id="border">
                        <option value="true" selected>Yes</option>
                        <option value="false">No</option>
                    </select>
                    <button id="update">Update</button>
                    <button id="randomizeData">Randomize Data</button>
                </div>
            </div>
        <hr>
    </div>

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">
        <!-- Search Widget -->
        <div class="card my-4">
            <h6 class="card-header">{% trans '搜索' %}</h6>
            <div class="card-body">
                <div class="input-group mb-2">
                    <input type="text" class="form-control advancedAutoComplete" id="searchNameOrCode" autocomplete="off" placeholder="{% trans '请输入股票名称或代码' %}">                    
                    <span class="input-group-btn d-none">
                        <button class="btn btn-secondary" type="button" id="stockSearch">{% trans '查行情' %}</button>
                    </span>
                    <input type="hidden" id="hiddenCode">
                    <input type="hidden" id="hiddenName">
                    <input type="hidden" id="hiddenTscode">
                    <input type="hidden" id="hiddenMarket">

                </div>
                <div class="input-group float-right">
                    <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                        <button type="button" class="btn btn-danger" id="btnBuy" data-toggle="collapse" data-target="#collapseCreate"
                            aria-expanded="false" aria-controls="collapseCreate">{% trans '买 +' %}</button>
                        <button type="button" class="btn btn-success" id="btnSell" data-toggle="collapse" data-target="#collapseCreate"
                            aria-expanded="false" aria-controls="collapseCreate">{% trans '卖 -' %}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card my-4 collapse" id="collapseCreate">
            <h6 class="card-header">{% trans '添加交易记录' %}<span id="directionIndicate"></span></h6>
            <!-- <hr/> -->
            <div class="card-body">
                <div class="row">
                    <form action="{% url 'user:create_trade' %}" enctype="multipart/form-data" id="traderecForm" method="post"
                        role="form">
                        <!-- {% csrf_token %} -->
                        <input type="hidden" id="direction">
                        <div class="form-row pl-3 pr-3">
                            <!-- <div class="form-group col-md-6 mb-2"> -->
                                <!-- <label for="validationDefaultUsername">{% trans '股票名或代码' %}</label>
                                <input class="form-control" type="text" id="stockNameOrCode" placeholder="{% trans '股票名或代码' %}"
                                    required> -->
                                
                            <!-- </div> --> 
                            <div class="form-group col-md-6 mb-2">
                                <label for="validationDefaultUsername">{% trans '当前价格' %}</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">{% trans '￥' %}</span>
                                    </div>
                                    <input class="form-control" type="number" id="currentPrice" step="0.01"
                                        placeholder="{% trans '当前价格' %}" required>
                                </div>
                            </div>
                            <div class="form-group col-md-6 mb-2">
                                <label for="validationDefaultUsername">{% trans '交易价格' %}</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">{% trans '￥' %}</span>
                                    </div>
                                    <input type="number" id="tradePrice"" class=" form-control" placeholder="{% trans '交易价格' %}" step="0.01"
                                        aria-label="Amount (to the nearest RMB)" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-row pl-3 pr-3">
                            
                            <div class="form-group col-md-6 mb-2">
                                <label for="validationDefaultUsername">{% trans '交易数量' %}</label>
                                <input class="form-control" type="number" id="quantity" placeholder="{% trans '交易数量' %}" step="100"
                                    data-bind="value:replyNumber" value="100" required>
                            </div>
                            <div class="form-group col-md-6 mb-2">
                                <label for="validationDefaultUsername">{% trans '交易金额' %}</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">{% trans '￥' %}</span>
                                    </div>
                                    <input class="form-control" type="text" id="cash" placeholder="{% trans '交易金额' %}" readonly="" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-row pl-3 pr-3">
                    
                            <div class="form-group col-md-12 mb-2">
                                <label for="validationDefaultUsername">{% trans '目标仓位(股)' %}</label>
                                <input class="form-control" type="number" id="targetPosition" placeholder="{% trans '目标仓位(股)' %}" step="100"
                                    value="1000" data-bind="value:replyNumber">
                            </div>
                        </div>
                        <div class="form-row pl-3 pr-3">
                            <div class="form-group col-md-12 mb-2">
                                <label for="validationDefaultUsername">{% trans '应用策略' %}</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <button class="btn btn-outline-secondary dropdown-toggle" id="selStrategy" type="button"
                                            data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">{% trans '应用策略' %}</button>
                                        <div class="dropdown-menu">
                                            {% if trade_info %}
                                            {% for strategy in trade_info.strategies %}
                                            <span class="dropdown-item strategy-item" data-id="{{ strategy.pk }}">{{ strategy.name }}</span>
                                            <!-- <div role="separator" class="dropdown-divider"></div> -->
                                            {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <input class="form-control" type="text" id="pickedStrategy" placeholder="{% trans '请选择策略' %}"
                                        readonly="">
                                    <input type="hidden" id="pickedStrategyID">
                                </div>
                            </div>
                        </div>
                        
                        <button type="submit" id="btnSubmitTrade" class="btn btn-outline-success float-right mr-3">{% trans '递交' %}</button>
                    </form>
                </div>
            </div>
        </div>

        <!-- Categories Widget -->
        <div class="card my-4 small">
            <h6 class="card-header">{% trans '我的持仓' %}</h6>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">{% trans '名称' %}</th>
                        <th scope="col">{% trans '代码' %}</th>
                        <th scope="col">{% trans '持仓' %}</th>
                        <th scope="col">{% trans '现价' %}</th>
                        <th scope="col">{% trans '获利' %}</th>
                    </tr>
                </thead>
                <tbody> 
                    {% if trade_info %} 
                        {% for position in trade_info.positions %}
                        <tr>
                        <th scope="row"> {{ position.stock_name }} </th>
                        <th scope="col">{{ position.stock_code }}</th>
                        <td>{{ position.lots }}</td>
                        <td>{{ position.position_price }}</td>
                        {% if position.profit > 0 %} 
                            <td class="text-danger">{{ position.profit }}</td>
                        {% else %} 
                            <td class="text-success">{{ position.profit }}</td>
                        {% endif %}
                        </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>

        <!-- Side Widget Following -->
        <div class="card my-4 small">
            <h6 class="card-header">{% trans '我的自选股' %}</h6>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">{% trans '名称' %}</th>
                        <th scope="col">{% trans '代码' %}</th>
                        <!-- <th scope="col">{% trans '价格' %}</th> -->
                    </tr>
                </thead>
                <tbody>
                    {% if trade_info %}
                    {% for following in trade_info.stocks_following %}
                    <tr>
                        <th scope="row"> {{ following.stock_code.stock_name }} </th>
                        <th scope="col">{{ following.stock_code.stock_code }}</th>
                
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>

        <!-- Trasactions Widget top 10 -->
        <div class="card my-4 small">
            <h6 class="card-header">{% trans '最近交易' %}</h6>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">{% trans '名称' %}</th>
                        <th scope="col">{% trans '代码' %}</th>
                        <th scope="col">{% trans '价格' %}</th>
                        <th scope="col">{% trans '股数' %}</th>
                        <th scope="col">{% trans '操作' %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% if trade_info %}
                    {% for detail in trade_info.tradedetails %}
                    <tr>
                        <th scope="row"> {{ detail.stock_name }} </th>
                        <th scope="col">{{ detail.stock_code }}</th>
                        <td>{{ detail.price }}</td>
                        <td>{{ detail.board_lots }}</td>
                        {% if detail.direction == 's' %}
                        <td><span class="badge badge-pill badge-success">{% trans '买出' %}</span></td>
                        {% else %}
                        <td><span class="badge badge-pill badge-danger">{% trans '买入' %}</span></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>

        

    </div>

</div>
<!-- /.row -->

</div>
<!-- /.container -->
{% endblock content %}

{% block javascript %}
{{ block.super }}
<script
    src="https://cdn.polyfill.io/v2/polyfill.js?features=default,String.prototype.repeat,Array.prototype.find,Array.prototype.findIndex,Math.trunc,Math.sign"></script>
<script src="https://cdn.jsdelivr.net/npm/luxon@1.19.3"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.0"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@0.2.0"></script>
<script src="{% static 'js/chartjs-chart-financial.v_0_1_1.js' %}" type="text/javascript"></script>

<!-- place project specific Javascript in this file -->
<!-- <script src="{% static 'js/charts-utils.js' %}" type="text/javascript"></script> -->
<script src="{% static 'js/dashboard.js' %}" type="text/javascript"></script>
{% endblock javascript %}
